*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container{
    max-width: 1000px;
    margin: auto
}
    
header{
    background-color: #041f79;
    text-align: center;
    padding: 5px;
    overflow: hidden;
    font-size: 10px;
    color: white;        
}

.img1{
    float: left;
    display: inline;
    margin-left: 20px;
}

.img2{
    float: right;
    display: inline;
    margin-right: 20px;
}

.cabeçalho{
    transform: translateY(25px);     
}

section{
color: black;
padding: 20px;
background-image: url(./image/section.png);
background-size: cover;
background-attachment: fixed;
overflow: hidden;

}

.formcontainer{
max-width: 230px;
float: right;
padding: 15px;
background-color: rgba(37, 218, 200, 0.39);
}

p, h3{
    padding: 5px;
}

p{
    font-weight: 900px;
}

#inputdigitar{
    padding: 4px;
    margin: 2px;
    width: 90%;
    }

#enviar{
    width: 95%;
    padding: 5px;
    background-color: #041f79;
    border: 4px rgb(21, 13, 131) groove;
    color: white;
    cursor: pointer;
    font-weight: 900px;
    }
    
footer{
    color: wheat;  
    padding: 30px;  
    background-color: #010f3b;   
    margin: 5px;       
}

.textorodape{
    display: inline-block;
    text-align: left;
    max-width: 40%;
    margin-left: 10px;
    box-sizing: border-box;
    vertical-align: top;         
}


@media screen and (max-width: 645px){

    header{        
        font-size: 6px;        
    }
    
    .img1{        
        margin-left: 15px;
        width: 80px;
    }
    
    .img2{        
        margin-right: 15px;
        width: 80px;
    }
    section{        
        background-image: url(./image/section.png);
        background-size: cover; 
        background-attachment: local;  
        background-position: center;         
    }
    
    .cabeçalho{
        transform: translateY(25px);
    }
    .formcontainer{        
        float: none;
        transform: translateX(50px);  
                
        }

    .textorodape{        
        max-width: 50%;                       
        }

    }

    @media screen and (max-width: 347px){
        header{        
            font-size: 5px;        
        }
        
        .img1{        
            margin-left: 10px;
            width: 70px;
        }
        
        .img2{        
            margin-right: 10px;
            width: 70px;
        }

        .formcontainer{     
            float: left;
            transform: translateX(20px);                        
        }
        
        section{
            padding-left: 0px; 
            background-image: url(./image/section.png);
            background-size: cover;
            background-attachment: local; 
            background-position: center;          
        }

        .container{
            padding: 0px;            
        }

        .textorodape{        
            max-width: 45%;                       
            }
            
    }
